[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
flake8 = "*"
bumpversion = "*"
twine = "*"
django-tenant-schemas = "*"

[packages]
django = "*"
django-safedelete = "*"
bumpversion = "*"
django-tenant-schemas = "*"
rsutils = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
